#menu{
	margin-top: 22%;
	width: 100%;
}
#menu h1{
	color: #787878;
}
#atendimentoCaixa{
	border: solid 1px;
}


/*Links para Atendimento */


#atendimentoCaixaLink nav{
	margin: 2%;
}
#atendimentoCaixaLink img{
	margin: 0 1%;
	width: 7%;
	display: inline;
}
#atendimentoCaixaLink ul{
	list-style: none;
}
#atendimentoCaixaLink li{
	margin: 1% 0;
	width: 40%;
	height: 10%;
}
#atendimentoCaixaLink  a:visited{
	color: #000000;
	text-decoration: none;
}
#atendimentoCaixaLink a:link{
	text-decoration: none;
	color: #000000;
}
#atendimentoCaixaLink a:hover{
	color:#d55534;
	text-decoration: underline;
}

