#loginID{
	width: 47%;
	margin: 2% 0;
	float: left;
}

#loginDados{
	width: 400px;
	margin: 5%;

}
#loginDados p {
	display: inline-block;
	direction: rtl;
	margin: 9px 0;
	width: 90px;
}
#loginDados input{
	float: right;
	width: 300px;
	height: 20px;
}


#irCadastro{
	float: right;
	margin: 2% 0;
	width: 45%;
	margin-right: 8%
}

#irCadastro2{
	margin: 5%;

}
#irCadastro2 fieldset{
	height: 198px;
}
#irCadastro2 > h1{
	visibility: hidden;
}

#botoes{
	margin: 1% 35%;
	width: 50%;
}
#enviar{
	margin: 1% 3%; 
	width: 150px;
	height: 30px;
}
#botaoIrCadastro{
	margin: 1% 35%;
	width: 50%;	
}
#irCadastrar{
	margin: 9% 3%; 
	height: 30px;
	width: 150px;
}
#paginaLogin{
	margin-top: 15%;
	width: 100%;
	height: 40%;
}
