#banner{
	position: absolute;
	height: 39%;
	width: 100%;
	bottom: 30%;
}

#bannerm{
	position: absolute;
	width: 100%;
	height: 100%;
	

}

#bannerm > a > img{
border-radius: 15px;
width: 100%;
height: 100%;
}